/*GENERAL STYLES*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee', cursive;
}

hr {
    border-top: 2px solid #000000;
}

/*NAVIGATION*/

.navbar {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width:100%;
}

.navbar-nav .nav-link {
    font-family: Arial, sans-serif;
    color: #3b2f2f;
}

.navbar-nav .nav-link:hover {
    color: #3b2f2f; /* Ensure the color remains the same on hover */
}

.navbar-brand{color: #3b2f2f;}

.brand-image{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: #3b2f2f;
}

/*HERO SECTION*/

.hero-section {
    background: url('../images/spa-background.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-section .text-white {
    color: #fff;
}

.hero-section btn {
    background-color: #fff;
    color: #3b2f2f;
}

/*SERVICES SECTION*/

.services-section h2 {
    font-family: "Handlee", sans-serif;
    color: #3b2f2f;
}

.services-section p {
    font-family: Arial, sans-serif;
    color: #3b2f2f;
    font-size: medium;
}

.services-section .img-fluid {
    max-height: 200px;
    object-fit: cover;
}


/*TIPS SECTION*/

.tips-section {
    background: url('../images/tips.webp') no-repeat center center;
    background-size: cover;
    background-position: bottom 11% left 10%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.tips-section h2 {
    font-family: "Handlee", sans-serif;
    color: #000000;
    background-color: rgba(206, 191, 191, 0.7); 
    margin:0;
}

.tips-section p {
    font-family: "Handlee", sans-serif;
    color: #000000;
    background-color: rgba(206, 191, 191, 0.7); 
    margin: 0;
}

.tips-section ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    background-color: rgba(206, 191, 191, 0.7);
}


.tips-section ul li {
    margin-bottom: 5px; /* Add margin to the li elements */
    padding: 2px 0; /* Add padding to the li elements */
}

